
@{
    ViewData["Title"] = "LoginPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>LoginPost</h1>
<p>
    Welcome to the dashboard.
    <br />
    <br />
    Your account name is @ViewBag.UserName.
    <br />
    You password is @ViewBag.Password
</p>
