
@{
    ViewData["Title"] = "LoginSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login Success</h1>

<p>Welcome to the dashboard </p>
<br />
<br />
<p>Your User Name is @ViewBag.UserName</p>
<p>Your Password is @ViewBag.Password</p>


