@model coreWebApplication.Models.UserAccount

@{
    ViewData["Title"] = "UserDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Detail</h1>

<p> User  Name: @Model.UserName</p>
<p>Password: @Model.Password</p>

