
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Account - Login</h1>

@using(Html.BeginForm("LoginPost", "Account", FormMethod.Post))
{
    <div>User Name: @Html.TextBox("UserName")</div>
    <div>Password: @Html.Password("Password")</div>
    <div>
        <input type="submit" value="Login" />
    </div>
}

