
@{
    ViewData["Title"] = "Demo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Demo - Data Passing Techniques</h1>
<h2>TempData</h2>

<a asp-asp-controller="Demo" asp-action="Method1">Go to Method 1</a>

<br />  

<a asp-controller="Demo" asp-action="Login">Login</a>