
@{
    ViewData["Title"] = "Method1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Method 1</h1>

<h2>@TempData["Message"]</h2>

@{
    TempData.Keep("Message");
}

<a asp-controller="Demo" asp-action="Method2">Go to Method 2</a>

